        % _*_ mode: erlang _*_
{erl_opts, [
            debug_info, 
            fail_on_warning,
            {i, "/usr/local/lib/couchdb/erlang/lib/couch-1.6.1/include"}
           ]}.
{deps, [
        {mochiweb, {git, "git://github.com/mochi/mochiweb.git", "HEAD"}},
        {mochiweb_xpath, {git, "git://github.com/retnuh/mochiweb_xpath.git", "HEAD"}},
        {mf2erl, {git, "git://github.com/hazybluedot/mf2erl", "HEAD"}}
       ]}.
